
body {
	width: 425px;
	height: 643px;
}

.head {
	display: flex;
	gap: 3rem;
}

.search {
	width: 200px;
	display: flex;
}

.search-img,
.weather img {
	width: 40px;
	height: 40px;
}

.scheme {
	width: 100%;
	height: 50px;
	background-color: #0c5012;
}

.scheme p {
	font-size: 20px;
	color: white;
	text-align: center;
}

.weather {
	display: flex;
	background-color: #b1edb3;
}

.recommend {
	display: flex;
	justify-content: center;
	align-items: center;
}

.items {
	width: 92%;
	height: 89px;
	background-color: #b1edb3;
	border-radius: 5px;
}

.shop-img {
	width: 111px;
	height: 84px;
	background-color: #b1edb3;
	border-radius: 16px;
}

.shop-cont {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	width: 4px;
}

.famer-cont {
	width: 143px;
	height: 60px;
	background-color: #b1edb3;
}
.famer-cont img {
	width: 32px;
	height: auto;
}
.farm-list {
	display: flex;
	align-items: center;
}

.farm {
	display: flex;
	align-items: center;
}

